body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-image: url("./images/pattern.svg");
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: orangered;
  color: white;
  align-items: center;
}

.weather-form {
  display: flex;
  width: 300px;
}
