html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-image: url("./images/pattern.svg");
}

.container, #root {
  height: 100%;
  width: 100%;
}

.home-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(252, 90, 44, 0.89);
  color: white;
  align-items: center;
  padding: 10px;
  height: 100px;
}

.header {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
}

.weather-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  margin: 10px;
}

.button-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  background-color: white;
  color: #5c6677;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.weather-icon {
  width: 90%;
}

.temp-summary{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}